.App {
  margin-left: 1%;
  margin-top: 1%;
  text-align: center;
  border:1px solid black;
  height:620px;
  width:98%;
}
.flexbox{
  display: flex;
  gap: 4%;
  border:1px solid red;
}
.emptydiv{
  margin-left: 1%;
  margin-top: 2%;
  border:1px solid black;
  height:560px;
  width:30%;
}
.circlediv{
  margin-top:2%;
  border:1px solid black;
  height:560px;
  width:25%;
}
.circle1{
  margin-top: 2%;
  border:1px solid black;
  height:100px;
  width:30%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: aqua;
}
.circle2{
  margin-top: 2%;
  border:1px solid black;
  height:100px;
  width:30%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: red;
}

.circle3{
  margin-top: 2%;
  border:1px solid black;
  height:100px;
  width:30%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: green;
}

.circle4{
  margin-top: 2%;
  border:1px solid black;
  height:100px;
  width:30%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: yellow;
}

.circle5{
  margin-top: 2%;
  border:1px solid black;
  height:100px;
  width:30%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: pink;
}
.emptycircle1{
  margin-top: 2%;
  border:1px solid black;
  height:90px;
  width:28%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: aqua;
  display:none;
}
.emptycircle2{
  margin-top: 2%;
  border:1px solid black;
  height:90px;
  width:28%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: red;
  display:none;
}
.emptycircle3{
  margin-top: 2%;
  border:1px solid black;
  height:90px;
  width:28%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: green;
  display:none;
}
.emptycircle4{
  margin-top: 2%;
  border:1px solid black;
  height:90px;
  width:28%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: yellow;
  display:none;
}
.emptycircle5{
  margin-top: 2%;
  border:1px solid black;
  height:90px;
  width:28%;
  border-radius: 50%;
  margin-left: 25%;
  background-color: pink;
  display:none;
}
._emptydiv{
  margin-top: 0px;
}